In [ ]:
#import library
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/content'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/seattle-weather.csv
/content/.config/config_sentinel
/content/.config/gce
/content/.config/.last_opt_in_prompt.yaml
/content/.config/active_config
/content/.config/.last_survey_prompt.yaml
/content/.config/.last_update_check.json
/content/.config/configurations/config_default
/content/.config/logs/2023.05.25/13.40.57.832685.log
/content/.config/logs/2023.05.25/13.41.58.512075.log
/content/.config/logs/2023.05.25/13.42.26.525543.log
/content/.config/logs/2023.05.25/13.41.50.470207.log
/content/.config/logs/2023.05.25/13.42.25.729591.log
/content/.config/logs/2023.05.25/13.41.24.004713.log
/content/sample_data/README.md
/content/sample_data/anscombe.json
/content/sample_data/california_housing_train.csv
/content/sample_data/mnist_test.csv
/content/sample_data/mnist_train_small.csv
/content/sample_data/california_housing_test.csv

In [ ]:
#baca file excel
dataset = pd.read_csv('/content/seattle-weather.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [ ]:
#cari dupe value
dataset.duplicated().sum()

0

In [ ]:
#cari unique value
dataset['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [ ]:
#normalize nama" weather menjadi 0,1,2,3,4
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

dataset['weather_label'] = le.fit_transform(dataset['weather'])
dataset.head(10)

,date,precipitation,temp_max,temp_min,wind,weather,weather_label,year,month,day
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,0,2012,1,1
1,2012-01-02,10.9,10.6,2.8,4.5,rain,2,2012,1,2
2,2012-01-03,0.8,11.7,7.2,2.3,rain,2,2012,1,3
3,2012-01-04,20.3,12.2,5.6,4.7,rain,2,2012,1,4
4,2012-01-05,1.3,8.9,2.8,6.1,rain,2,2012,1,5
5,2012-01-06,2.5,4.4,2.2,2.2,rain,2,2012,1,6
6,2012-01-07,0.0,7.2,2.8,2.3,rain,2,2012,1,7
7,2012-01-08,0.0,10.0,2.8,2.0,sun,4,2012,1,8
8,2012-01-09,4.3,9.4,5.0,3.4,rain,2,2012,1,9
9,2012-01-10,1.0,6.1,0.6,3.4,rain,2,2012,1,10

In [ ]:
weather_dict = dict(zip(dataset['weather_label'], dataset['weather']))
weather_dict

{0: 'drizzle', 2: 'rain', 4: 'sun', 3: 'snow', 1: 'fog'}

In [ ]:
def date_time(dataset) :

    dataset['date'] = pd.to_datetime(dataset['date'])
    dataset['year'] = dataset['date'].dt.year
    dataset['month'] = dataset['date'].dt.month
    dataset['day'] = dataset['date'].dt.day

    return dataset


dataset_final = date_time(dataset)
dataset_final

,date,precipitation,temp_max,temp_min,wind,weather,weather_label,year,month,day
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,0,2012,1,1
1,2012-01-02,10.9,10.6,2.8,4.5,rain,2,2012,1,2
2,2012-01-03,0.8,11.7,7.2,2.3,rain,2,2012,1,3
3,2012-01-04,20.3,12.2,5.6,4.7,rain,2,2012,1,4
4,2012-01-05,1.3,8.9,2.8,6.1,rain,2,2012,1,5
...,...,...,...,...,...,...,...,...,...,...
1456,2015-12-27,8.6,4.4,1.7,2.9,rain,2,2015,12,27
1457,2015-12-28,1.5,5.0,1.7,1.3,rain,2,2015,12,28
1458,2015-12-29,0.0,7.2,0.6,2.6,fog,1,2015,12,29
1459,2015-12-30,0.0,5.6,-1.0,3.4,sun,4,2015,12,30
1460,2015-12-31,0.0,5.6,-2.1,3.5,sun,4,2015,12,31

In [ ]:
dataset_final = dataset_final.drop(['weather'],axis=1).set_index('date')
dataset_final

,precipitation,temp_max,temp_min,wind,weather_label,year,month,day
date,,,,,,,,
2012-01-01,0.0,12.8,5.0,4.7,0,2012,1,1
2012-01-02,10.9,10.6,2.8,4.5,2,2012,1,2
2012-01-03,0.8,11.7,7.2,2.3,2,2012,1,3
2012-01-04,20.3,12.2,5.6,4.7,2,2012,1,4
2012-01-05,1.3,8.9,2.8,6.1,2,2012,1,5
...,...,...,...,...,...,...,...,...
2015-12-27,8.6,4.4,1.7,2.9,2,2015,12,27
2015-12-28,1.5,5.0,1.7,1.3,2,2015,12,28
2015-12-29,0.0,7.2,0.6,2.6,1,2015,12,29
2015-12-30,0.0,5.6,-1.0,3.4,4,2015,12,30
2015-12-31,0.0,5.6,-2.1,3.5,4,2015,12,31

In [ ]:
#correlation matrix
corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm')

<ipython-input-11-c52a7ca4dfba>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = dataset.corr()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.pipeline import Pipeline

X = dataset_final.drop(['weather_label'], axis = 1)
y = dataset_final['weather_label']


over_strategy = {0 : 1000, 1 : 1000, 2 : 1000, 3 : 1000, 4 : 1000}
under_strategy = {0 : 1000, 1 : 1000, 2 : 1000, 3 : 1000, 4 : 1000}

#oversampling dan undersampling
oversample = SMOTE(sampling_strategy = over_strategy)
undersample = RandomUnderSampler(sampling_strategy = under_strategy)

X_final,y = oversample.fit_resample(X,y)
X_final,y = undersample.fit_resample(X_final, y)

#mengsplit training set dan testing set dari dataset
X_train,X_test,y_train,y_test = train_test_split(X_final,y,random_state = 10, test_size = 0.2)

/usr/local/lib/python3.10/dist-packages/imblearn/utils/_validation.py:313: UserWarning: After over-sampling, the number of samples (1000) in class 0 will be larger than the number of samples in the majority class (class #2 -> 641)
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/imblearn/utils/_validation.py:313: UserWarning: After over-sampling, the number of samples (1000) in class 1 will be larger than the number of samples in the majority class (class #2 -> 641)
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/imblearn/utils/_validation.py:313: UserWarning: After over-sampling, the number of samples (1000) in class 2 will be larger than the number of samples in the majority class (class #2 -> 641)
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/imblearn/utils/_validation.py:313: UserWarning: After over-sampling, the number of samples (1000) in class 3 will be larger than the number of samples in the majority class (class #2 -> 641)
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/imblearn/utils/_validation.py:313: UserWarning: After over-sampling, the number of samples (1000) in class 4 will be larger than the number of samples in the majority class (class #2 -> 641)
  warnings.warn(

In [ ]:
#import library utk naive bayes
from sklearn.metrics import accuracy_score, classification_report
model = GaussianNB()

np.random.seed(10)
model.fit(X_train,y_train)

#melakukan classification
pred_all = model.predict(X_final)
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)

print(f'Accuracy Score on All Data : {round(accuracy_score(y, pred_all),2)*100}')
print(f'Accuracy Score on Train Data : {round(accuracy_score(y_train, pred_train),2)*100}')
print(f'Accuracy Score on Test Data : {round(accuracy_score(y_test, pred_test),2)*100}')

Accuracy Score on All Data : 74.0
Accuracy Score on Train Data : 74.0
Accuracy Score on Test Data : 74.0

In [ ]:
#report
print(classification_report(y,pred_all))

              precision    recall  f1-score   support

           0       0.65      0.77      0.71      1000
           1       0.67      0.61      0.64      1000
           2       0.95      0.88      0.91      1000
           3       0.93      0.96      0.94      1000
           4       0.52      0.50      0.51      1000

    accuracy                           0.74      5000
   macro avg       0.75      0.74      0.74      5000
weighted avg       0.75      0.74      0.74      5000